{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>My Lists</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Receipts</th>
          </tr>
        </thead>
        <tbody>
          {% for category in expense_list %}
            <tr>
              <td>{{ category.name }}</td>
              <td>{{ category.receipts.all|length }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
